{
  "doc": [
    "Defines a set of targets we can deploy to. Each target maps a name to a",
    "dict of one or more host entries. Host entries in turn map a remote host",
    "name or ip to a cascade spec that tells where else the remote host should",
    "forward the data, and how soon the remote host is eligible to receive",
    "data or a child job, after the data and parent job are visible here. If",
    "no cascade spec is present for a given host, then the host is terminal,",
    "and can receive its data immediately.",
    "\n",
    "A cascade spec may contain either or both of the following pieces of info,",
    "delimited by spaces in either order: a dis target that's defined in the",
    "remote host's targets.json (where to forward), and the number of minutes",
    "to delay before forwarding to the remote host."
  ],
 
  "targets": {
    "all": {
      "drtr@drtr1.dc": "all 0",
      "drtr@research-stage-drtr1": "all 0",
      "drtr@drtr1.uk": "all 60",
      "drtr@drtr1.hk": "all 60",
      "drtr@drtr1.se": "all 60"
    },
    "quick": {
      "drtr@drtr1.dc": "quick 0",
      "drtr@research-stage-drtr1": "quick 0",
      "drtr@drtr1.uk": "quick 0",
      "drtr@drtr1.hk": "quick 0",
      "drtr@drtr1.se": "quick 0"
    },
    "stage": {
      "drtr@research-stage-drtr1": null,
      "drtr@research-stage-drtr2": null
    }
  }
}
